<?php

$finder = PhpCsFixer\Finder::create()
	->in(__DIR__.'\src')
;

return PhpCsFixer\Config::create()
	->setIndent("\t")
	->setLineEnding("\r\n")
	->setRules([
		'array_syntax' => ['syntax' => 'short'],
		'blank_line_after_namespace' => true,
		'blank_line_before_return' => true,
		'braces' => [
			'position_after_control_structures' => 'next',
			'position_after_functions_and_oop_constructs' => 'next',
			'position_after_anonymous_constructs' => 'next',
			],
		'combine_consecutive_unsets' => true,
		'elseif' => true,
		'no_trailing_whitespace' => true,
		'no_unneeded_control_parentheses' => true,
		'no_useless_return' => true,
		'no_whitespace_in_blank_line' => true,
		'not_operator_with_successor_space' => true,
		'ordered_class_elements' => [
			'sortAlgorithm' => 'alpha',
			],
		'return_type_declaration' => [
			'space_before' => 'one',
			],
		'single_quote' => true,
		'standardize_not_equals' => true,
		])
	->setFinder($finder)
;

